body {
  background: linear-gradient(to bottom, #fdfbfb, #dadada);
}

nav{
    font-family: 'Nothing You Could Do', cursive;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3em;
    color: rgb(161, 156, 142);
    margin: 12px auto 0px;
}

h2 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.8em;
  color: black;
}

/* font */
.f-12 {
  font-size: 1.2em;
}
.f-08 {
  font-size: 0.8em;
}

/* slider */
.slider {
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.slider-img {
    min-width: 100%;
}

/* card */
   .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f1f1f1;
}

/* footer */
footer p {
  font-size: 0.8em;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
}


.footer-text{
  /* position:absolute; */
  top:40%;
  left:70%;
}

.footericon{
  height: 1.8em;
}

.w-300{
  width: 200px;
}

.iform-text{
  font-family: 'Nothing You Could Do', cursive;
    font-size: 1.6m;
    color: rgb(161, 156, 142);
    margin-right:pixabayco 10px ;
}



@media screen and (min-width: 768px) {
  .gradient{
    /* background:rgb(90, 44, 44); */
    background:linear-gradient(90deg, rgb(90, 44, 44) 0%, rgb(90, 44, 44) 70%, white 70%, white 100%);
  } 
}
   
@media screen and (max-width: 768px) {
  .gradient{
    justify-content: center;
    align-items: center;
    background:linear-gradient(180deg, rgb(90, 44, 44) 0%, rgb(90, 44, 44) 100%);
  }
}



.explain-coffee{
  color: white;
}

.food-box{
  width: 100vw;
  background-color: rgba(255, 255, 0, 0.129);
}

.cafeshop-ga {
  width: 600px;
  height: 400px;
}
